<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In User</title>
</head>
<body>
    <b> Welcome {{ request.user}} !!!</b>
    <p> This is the tech world having so many different technologies, feel free to explore and try different tech stacks! </p>
    
    {% comment %} <form method = "Post" action="/login">
        {% csrf_token %} {% endcomment %}
        

        {% comment %} <a class="btn btn-primary" href="/login" role="button">Log out</a> {% endcomment %}


        {% comment %} <button type = "submit" class = "btn btn-primary"> Log out </button> {% endcomment %}
    {% comment %} </form> {% endcomment %}
    <form method="post" action="/logout">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>


</body>
</html>